* {
  box-sizing: border-box;
}

:root {
  --color-primary: #555;
  --color-disabled: #ccc;
  --color-accent: #4d60d6;
  --color-active: #2db32d;
  --color-focus: rgb(152, 208, 152);
  --color-negative: #fff;
  --font: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(90deg, #7fabde 0%, #4d56b8 100%);
  animation: color 9s infinite linear;
  font-family: 'Exo', sans-serif;
  overflow-y: scroll;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

button {
  background-color: rgb(105, 158, 218);
  font-size: 1rem;
  font-family: var(--font);
  padding: 0.5rem;
}

input {
  font-size: 1rem;
  font-family: var(--font);
  padding: 0.5rem;
}

#add-section {
  display: flex;
  flex-direction: column;
}

.refresh {
  margin-left: 0;
  align-self: center;
}

#leaderboard {
  background-color: #fff;
  border: var(--color-primary) solid 0.06rem;
  min-height: 12rem;
}

.score {
  background-color: var(--color-disabled);
}

.score:nth-child(2n) {
  background-color: var(--color-negative);
}

.head {
  display: flex;
  gap: 1rem;
}

.wrapper {
  display: flex;
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}
