* {
  box-sizing: border-box;
}

:root {
  --color-primary: #555;
  --color-disabled: #ccc;
  --color-accent: #4d60d6;
  --color-active: #2db32d;
  --color-focus: rgb(152, 208, 152);
  --color-negative: #fff;
  --font: 'Poppins', sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-primary);
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  text-align: center;
}

button,
input {
  font-size: 1rem;
  font-family: var(--font);
  padding: 0.5rem;
}

.add-score {
  display: flex;
  flex-direction: column;
}

.refresh {
  background-color: #2db32d;
  align-self: center;
}

.show-scores {
  border: var(--color-primary) solid 0.06rem;
  min-height: 12rem;
}

.recent-scores {
  background-color: var(--color-disabled);
}

.show-scores:nth-child(2n) {
  background-color: var(--color-negative);
}

.head {
  display: flex;
  gap: 1rem;
}
